{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "trailingComma": "es5",
  "tabWidth": 2
}
