.btn {
  border: none;
  background: none;
  color: hsla(0, 0%, 100%, 0.9);
  transition: color 300ms ease;
  font-size: 1rem;
  padding: 0 10px;
  cursor: pointer;
}

.btn:hover {
  color: hsla(0, 0%, 100%, 0.6);
}

.btn.todo_completed {
  font-size: 1em;
  background-color: hsl(130, 57%, 74%);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.todo_clear {
  font-size: 1em;
  background-color: hsl(0, 56%, 74%);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
