@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@700&display=swap');

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}
